<div class="container">
    <div class="header">
	<h1>Burgers!</h1>
	<img src="../assets/img/burger-time.gif" id="burgerPic" alt="burgerPic">
    </div>

    <div class="eatBurger">
	<h2>Eat your burger!</h2>
	<ul>
	    {{#each burgers}}
	    {{#unless this.devoured}}
	    <li>
		{{this.burger_name}}
		
		<form>
		    <input id="id" type="hidden" name="devoured" value="{{this.id}}">
		    <button id="devour" type="submit">Devour It!</button>
		</form>
		
	    </li>
	    {{/unless}}
	    {{/each}}
	</ul>
    </div>

    <div class="ateBurger">
	<h2>You already ate it!</h2>
	<ul>
	    {{#each burgers}}
	    {{#if this.devoured}}
	    <li>
		{{this.burger_name}}
	    </li>
	    {{/if}}
	    {{/each}}
	</ul>
    </div>

    <div class="order">
	<h2>Order a Burger</h2>
	<form class="form">
	    <div class="form-group">
		<label for="burger">Burger Name:</label>
		<input type="text" id="burger_name" name="burger">
	    </div>
	    <button id="addBurger" type="submit">Add Burger</button>
	</form>
    </div>
</div>
